html {
    margin: 0;
    padding: 0;
    
}    
body {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #fff;

}
a, a:hover {
    text-decoration: none;
    transition: all ease 0.3s;
}
img {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../img/header.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header.jpg');
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}
nav {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-self: center;
}
.nav-left {
    display: flex;
}
.nav-left-ul-item,
.nav-rigth-ul-item {
    display: inline-block;
    padding: 0 0.8em;
}
.nav-left-ul-item:first-child {
    padding-left: 2.5em;
}
.nav-left-ul-item-link,
.nav-rigth-ul-item-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.nav-left-ul-item-link:hover,
.nav-rigth-ul-item-link:hover  {
    color: #fa7c30;
}
.nav-rigth-ul-item-link__button {
    border: #fff solid 2px;
    padding: 0.5em 1em;
}
.nav-rigth-ul-item-link__button:hover {
    background-color: #fa7c30;
    border: #fa7c30 solid 2px;
    color: #fff;
}
.wrap {
    max-width: 1440px;
    margin: 0 auto;
}
.h1 {
    text-transform: uppercase;
    font-size: 5em;
    padding: 2.5em 0 0.1em 0;
    font-weight: bold;
    line-height: 1.2em;
}
.h1 span {
    display: block;
    color: #fa7c30;
}
.slogan {
    /*padding-left: 0.3em;*/
    padding-bottom: 6em;
}
.main-button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 2em;
}
.main-button__full {
    color: #fff;
    background-color: #fa7c30;
    border: transparent solid 2px;
}
.main-button__full:hover {
    color: #fff;
    background-color: transparent;
    border: #fff solid 2px;
}