html {
    margin: 0;
    padding: 0;
    
}    
body {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #fff;

}
a, a:hover {
    text-decoration: none;
    transition: all ease 0.3s;
}
img {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../img/header.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header.jpg');
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    position: relative;
}

.navMobile {
    display: none;
    padding: 2em;
}
.navMobile-left {
    flex: 100% 1 1;
}

.navMobile-panel {
    position: absolute;
    top: 6em;
    width: 94%;
    background-color: rgba(255,255,255,0.95);
    display: none;
}
.navMobile-ul {
    padding: 1em;
}
.navMobile-ul-item {
}
.navMobile-ul-item-link {
    color: #000;
    display: inline-block;
    width: 100%;
    padding: 0.7em;
}
.navMobile-ul-item-link:hover {
    color: #fff;
    background-color: #fa7c30;
}
.navMobile-ul-item-link:active .navMobile-panel {
    display: block;
}

}
.navMobile-bottom-ul-item-link__button {
}










.navDesk {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: space-between;
}

.navDesk-logo {
    display: flex;
    align-self: center;
}
.navDesk-left {
    display: flex;
}
.navDesk-left-ul-item,
.navDesk-rigth-ul-item {
    display: inline-block;
    padding: 0 0.8em;
}
.navDesk-left-ul-item:first-child {
    padding-left: 2.5em;
}
.navDesk-left-ul-item-link,
.navDesk-rigth-ul-item-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.navDesk-left-ul-item-link:hover,
.navDesk-rigth-ul-item-link:hover  {
    color: #fa7c30;
}
.navDesk-rigth-ul-item-link__button {
    border: #fff solid 2px;
    padding: 0.5em 1em;
}
.navDesk-rigth-ul-item-link__button:hover {
    background-color: #fa7c30;
    border: #fa7c30 solid 2px;
    color: #fff;
}
.wrap {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    padding: 0 1em;
}
.h1 {
    text-transform: uppercase;
    font-size: 5em;
    padding: 2.5em 0 0.1em 0;
    font-weight: bold;
    line-height: 1.2em;
}
.h1 span {
    display: block;
    color: #fa7c30;
}
.slogan {
    /*padding-left: 0.3em;*/
    padding-bottom: 6em;
}
.main-button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 2em;
}
.main-button__full-black {
    color: #fff;
    background-color: #fa7c30;
    border: transparent solid 2px;
}
.main-button__full-black:hover {
    color: #fff;
    background-color: transparent;
    border: #fff solid 2px;
}
.main-button__full-light {
    color: #fff;
    background-color: #fa7c30;
    border: transparent solid 2px;
}
.main-button__full-light:hover {
    color: #000;
    background-color: transparent;
    border: #000 solid 2px;
}

.about {
    background-color: #f1f4f6;
    color: #000;
    position: relative;
    padding-top: 30em;
}
.about-col {
    display: flex;
    align-items: center;
}
.about-col-left-wrap {
    width: 55%;
}
.about-col-left {
    flex: 100% 1 1;
}
.about-col-right {
    align-self: center;
    flex: 100% 1 1;
}
.h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: #000;
    /*padding: 2.5em 0 0.1em 0;*/
    font-weight: bold;
    /*line-height: 1.2em;*/
}
.h2 span {
    color: #fa7c30;
} 
.about-left-p {
    line-height: 2em;
}
.about-left-p__opacity {
    color: rgba(0, 0, 0, 0.4);
}
.padding-b1 {
    padding-bottom: 1em;
}
.padding-b2 {
    padding-bottom: 2em;
}
.padding-b4 {
    padding-bottom: 4em;
}
/*.padding-b6 {
    padding-bottom: 6em;
}
    
.form-popup {
    position: absolute;
    max-width: 1440px;
    left: 0;
    right: 0;
    top: -15em;
    margin: auto;
    display: flex;
    background-color: #fff;
}
.form-img {
    align-self: center;
}
.form-popup-wrap {
    
    display: flex;
    align-items: center;
    padding: 0 8em;
    flex: 100% 1 1;
}
.form-wrap-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100% 1 1;
}
.form-popup-sale {
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
    font-weight: bold;
}
.h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: #000;
}
.form-popup-body {
    text-align: center;
}
.form-body-row {
    display: flex;
}
.form-body-col {
    flex: 100% 1 1;
    padding: 1.3em;
}
select,
input {
    width: 250px;
    border: none;
    border-bottom: solid 1px #000;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 0.7em;
}
input:active,
input:hover,
input:focus {
outline: none;
}
*/

.form-popup {
    position: absolute;
    max-width: 1440px;
    left: 0;
    right: 0;
    top: -15em;
    margin: auto;
    display: flex;
    background-color: #fff;
}
.form-img {
    align-self: center;
}
.form-popup-wrap {
    
    display: flex;
    align-items: center;
    padding: 0 8em;
    flex: 100% 1 1;
}
.form-wrap-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100% 1 1;
    text-align: center;
}
.form-popup-sale {
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
    font-weight: bold;
}
.h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: #000;
}
.form-popup-body {
    text-align: center;
}
.form-body-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6em;
}
.form-body-col {
    flex: 33.3333% 1 1;
    padding: 1.3em;
}
select,
input {
    width: 250px;
    border: none;
    border-bottom: solid 1px #000;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 0.7em;
}
input:active,
input:hover,
input:focus {
outline: none;
}
























.about-col-right img {
    width: 100%;
}
.program-col img {
    width: 100%;
}

.program,
.team {
    padding: 5em 0;
}

.program-content {
    color: rgba(0, 0, 0, 0.4);
}
.program-row {
    display: flex;
    padding-top: 3em;

}
.program-col {
    display: flex;
    flex-direction: column;
    flex: 100% 1 1;
    margin: 0 1.2em;
    
}
.program-col__gray {
    background-color: #f1f4f6;
}
.program-col .main-button {
    align-self: flex-start;
}
.program-col-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 2.5em 0;
}
.program-col:first-child {
    margin-left: 0;
}

.program-col:last-child {
    margin-right: 0;
}
.program-h3 {
    text-transform:capitalize;
    font-size: 2.4em;
    color: #000;
}
.program-col-text {
    color: #000;
    line-height: 2em;
    height: 8em;
    font-size: 1.3em;
}
.trainer {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../img/trainer.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/trainer.jpg');
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/trainer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 15em 0;
}
.trainer-text {
    text-transform: uppercase;
    font-size: 2.5em;
}
.trainer-h2 {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    padding-bottom: 0.5em;
    text-align: center;
}
.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.team-col-wrap {
    display: flex;
    flex-direction: column;
    padding: 2.5em 0;
    text-align: center;
}
.team-col-text {
    color: #000;
    line-height: 2em;
    height: 4em;
    font-size: 1.3em;
}
.team-col-job {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 1.5em;
    color: #fa7c30;
}


.media {
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('../img/media-left.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/media-left.jpg');
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/media-left.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 9em 0;
    flex: 100% 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.media-rigth {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('../img/media-right.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/media-right.jpg');
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/media-right.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 9em 0;
    flex: 100% 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.media-text {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 1.2em;
}
.media-h3 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 1em;
    text-align: center;
}

.footer {
    background-color: #161418;
    padding: 8em 0 4em 0;
}
.footer-row {
    display: flex;
}
.footer-col-first {
    display: flex;
    flex-direction: column;
    flex: 1 1 55%;
}
.footer-col-blog {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    align-items: flex-start;
}
.footer-col-inst {
    display: flex;
    flex-direction: column;
    flex: 0 0 252px;
}
.footer-first-contant {
    width: 95%;
    line-height: 2.5em;
}

.footer-social {
    display: flex;
}

.footer-social-items {
    display: flex;
}

.footer-social-link {
    width: 18px;
    height: 16px;
    display: inline-block;
    margin: 0 0.5em;
}
.footer-social-link__facebook {
    background: url('../img/icons.png');
    background-position: 0px 0px;
}
.footer-social-link__twitter {
    background: url('../img/icons.png');
    background-position: -26px 0px;
}
.footer-social-link__instagram {
    background: url('../img/icons.png');
    background-position: -56px 0px;
}
.footer-social-link__pinterest {
    background: url('../img/icons.png');
    background-position: -84px 0px;
}
.footer-social-link__googleplus {
    background: url('../img/icons.png');
    background-position: -116px 0px;
}
.footer-social-link__youtube {
    background: url('../img/icons.png');
    background-position: -146px 0px;
}
.footer-social-link__dribbble {
    background: url('../img/icons.png');
    background-position: -174px 0px;
}
.footer-social-link__tumblr {
    background: url('../img/icons.png');
    background-position: -201px 0px;
}


.footer-social-link__facebook:hover {
    background: url('../img/icons-hover.png');
    background-position: 0px 0px;
}
.footer-social-link__twitter:hover {
    background: url('../img/icons-hover.png');
    background-position: -26px 0px;
}
.footer-social-link__instagram:hover {
    background: url('../img/icons-hover.png');
    background-position: -56px 0px;
}
.footer-social-link__pinterest:hover {
    background: url('../img/icons-hover.png');
    background-position: -84px 0px;
}
.footer-social-link__googleplus:hover {
    background: url('../img/icons-hover.png');
    background-position: -116px 0px;
}
.footer-social-link__youtube:hover {
    background: url('../img/icons-hover.png');
    background-position: -146px 0px;
}
.footer-social-link__dribbble:hover {
    background: url('../img/icons-hover.png');
    background-position: -174px 0px;
}
.footer-social-link__tumblr:hover {
    background: url('../img/icons-hover.png');
    background-position: -201px 0px;
}
.footer-h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    padding-bottom: 2em;
}

.footer-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.footer-blog-img {
    border: 1px solid transparent;
}
.footer-blog-img:hover {
    border: 1px solid #fa7c30;
}
.footer-blog-text {
    padding: 0 2em;
    line-height: 2em;
}

.footer-inst {
    display: flex;
    flex-wrap: wrap;
}
.inst-img {
    width: 84px;
    height: 84px;
    border: 1px solid transparent;
}
.inst-img:hover {
    border: 1px solid #fa7c30;
}