html {
    margin: 0;
    padding: 0;
    
}    
body {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #fff;

}
a, a:hover {
    text-decoration: none;
    transition: all ease 0.3s;
}
img {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../img/header.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header.jpg');
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    position: relative;
}
nav {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-self: center;
}
.nav-left {
    display: flex;
}
.nav-left-ul-item,
.nav-rigth-ul-item {
    display: inline-block;
    padding: 0 0.8em;
}
.nav-left-ul-item:first-child {
    padding-left: 2.5em;
}
.nav-left-ul-item-link,
.nav-rigth-ul-item-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.nav-left-ul-item-link:hover,
.nav-rigth-ul-item-link:hover  {
    color: #fa7c30;
}
.nav-rigth-ul-item-link__button {
    border: #fff solid 2px;
    padding: 0.5em 1em;
}
.nav-rigth-ul-item-link__button:hover {
    background-color: #fa7c30;
    border: #fa7c30 solid 2px;
    color: #fff;
}
.wrap {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}
.h1 {
    text-transform: uppercase;
    font-size: 5em;
    padding: 2.5em 0 0.1em 0;
    font-weight: bold;
    line-height: 1.2em;
}
.h1 span {
    display: block;
    color: #fa7c30;
}
.slogan {
    /*padding-left: 0.3em;*/
    padding-bottom: 6em;
}
.main-button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 2em;
}
.main-button__full-black {
    color: #fff;
    background-color: #fa7c30;
    border: transparent solid 2px;
}
.main-button__full-black:hover {
    color: #fff;
    background-color: transparent;
    border: #fff solid 2px;
}
.main-button__full-light {
    color: #fff;
    background-color: #fa7c30;
    border: transparent solid 2px;
}
.main-button__full-light:hover {
    color: #000;
    background-color: transparent;
    border: #000 solid 2px;
}

.about {
    background-color: #f1f4f6;
    color: #000;
    position: relative;
    padding-top: 30em;
}
.about-col {
    display: flex;
    align-items: center;
    
}
.about-col-left-wrap {
    width: 55%;
}
.about-col-left {
    flex: 100% 1 1;
}
.about-col-right {
    align-self: center;
    flex: 100% 1 1;
}
.h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: #000;
    /*padding: 2.5em 0 0.1em 0;*/
    font-weight: bold;
    /*line-height: 1.2em;*/
}
.h2 span {
    color: #fa7c30;
} 
.about-left-p {
    line-height: 2em;
}
.about-left-p__opacity {
    color: rgba(0, 0, 0, 0.4);
}
.padding-b1 {
    padding-bottom: 1em;
}
.padding-b2 {
    padding-bottom: 2em;
}
.padding-b4 {
    padding-bottom: 4em;
}
.padding-b6 {
    padding-bottom: 6em;
}
    
.form-popup {
    position: absolute;
    max-width: 1440px;
    left: 0;
    right: 0;
    top: -15em;
    margin: auto;
    display: flex;
    background-color: #fff;
}
.form-img {
    align-self: center;
}
.form-popup-wrap {
    
    display: flex;
    align-items: center;
    padding: 0 8em;
    flex: 100% 1 1;
}
.form-wrap-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100% 1 1;
}
.form-popup-sale {
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
    font-weight: bold;
}
.h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: #000;
}
.form-popup-body {
    text-align: center;
}
.form-body-row {
    display: flex;
}
.form-body-col {
    flex: 100% 1 1;
    padding: 1.3em;
}
select,
input {
    width: 250px;
    border: none;
    border-bottom: solid 1px #000;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 0.7em;
}
input:active,
input:hover,
input:focus {
outline: none;
}




.program,
.team {
    padding: 5em 0;
}

.program-content {
    color: rgba(0, 0, 0, 0.4);
}
.program-row {
    display: flex;
    padding-top: 3em;

}
.program-col {
    display: flex;
    flex-direction: column;
    flex: 100% 1 1;
    margin: 0 1.2em;
    
}
.program-col__gray {
    background-color: #f1f4f6;
}
.program-col .main-button {
    align-self: flex-start;
}
.program-col-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 2.5em 0;
}
.program-col:first-child {
    margin-left: 0;
}

.program-col:last-child {
    margin-right: 0;
}
.program-h3 {
    text-transform:capitalize;
    font-size: 2.4em;
    color: #000;
}
.program-col-text {
    color: #000;
    line-height: 2em;
    height: 8em;
    font-size: 1.3em;
}
.trainer {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../img/trainer.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/trainer.jpg');
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/trainer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 15em 0;
}
.trainer-text {
    text-transform: uppercase;
    font-size: 2.5em;
}
.trainer-h2 {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.team-col-wrap {
    display: flex;
    flex-direction: column;
    padding: 2.5em 0;
    text-align: center;
}
.team-col-text {
    color: #000;
    line-height: 2em;
    height: 4em;
    font-size: 1.3em;
}
.team-col-job {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 1.5em;
    color: #fa7c30;
}